body{
    position: relative;
    width: 1440px;
    height: 1024px;
    background-color: #E5E5E5;
}

.logo-principal{
    position: absolute;
    display: inline;
    left: 84px;
    top: 40px;
}

.input{
    position: absolute;
    padding: 10px 25px;
    width: 577px;
    height: 48px;
    left: 240px;
    top: 168px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #0a3871;
    border: none;
    background: none;

}

.input:hover{
    color: #0a4099;
    text-decoration: underline;
}

.label-submit{
    width: 205px;
    height: 18px;
    position: absolute;
    left: 264px;
    bottom: 155px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #495057;
    opacity: 0.8;
    flex: none;
    order: 1;
    flex-grow: 0;


}

.encriptar{
    display: flex;
    position: absolute;
    left: 240px;
    bottom: 72px;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;
    width: 328px;
    height: 67px;
    background: #0a3871;
    border-radius: 24px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.encriptar:hover{
    background: lightblue;
    transform: scale(1.0);
}

.desencriptar{
    box-sizing: border-box;
    display: inline;
    position: absolute;
    left: 592px;
    bottom: 72px;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;
    width: 328px;
    height: 67px;
    background: #d8dfe8;
    border: 1px solid #0a3871;
    border-radius: 24px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.desencriptar:hover{
    background: dodgerblue;
    transform: scale(1.0);
}

.recuadro-logo li{
    position: absolute;
    display: inline;
    width: 400px;
    height: 944px;
    left: 1000px;
    top: 40px;
    background: #FFFFFF;
    border: 2px solid #000000;
    border-radius: 32px;
}

.recuadro-logo li:hover{
    border-color: #088c19;
}

.imagen_personaje{
    position: absolute;
    width: 336px;
    height: 304px;
    top: 283px;
    right: 72px;
    left: 32px; 
}

.Mensaje_advertencia{
    display: inline;
    position: absolute;
    width: 336px;
    height: 58px;
    top: 619px;
    padding: 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: #343A40;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0; 
}

.Mensaje_solicitud{
    display: inline;
    position: absolute;
    width: 336px;
    height: 48px;
    top: 693px;
    padding: 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #495057;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

footer{
    position: absolute;
    text-align: center;
    margin: 32px;
    padding: 40px;
    bottom: 25px;
}

