body{
    font-family: 'Montserrat', sans-serif;
}

main{
    background-color:  ;
}

.logo-principal{
    display: inline;
    margin: 0 2px;
}
.input{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 25%;
}