body{
    font-family: 'Montserrat', sans-serif;
    position: relative;
    width: 1440px;
    height: 1024px;
    background-color: #E5E5E5;
}

main{
    width: 75%;
}

.logo-principal{
    position: absolute;
    display: inline;
    left: 84px;
    top: 40px;
}

.input{
    display: block;
    position: absolute;
    padding: 10px 25px;
    width: 577px;
    height: 48px;
    left: 240px;
    top: 168px;
    font-family: 'inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    border: none;
}

.label-submit{
    width: 205px;
    height: 18px;
    position: absolute;
    left: 264px;
    bottom: 155px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #495057;
    opacity: 0.8;
    flex: none;
    order: 1;
    flex-grow: 0;


}

.encriptar{
    display: inline;
    position: absolute;
    left: 240px;
    bottom: 72px;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;
    width: 328px;
    height: 67px;
    background: #0a3871;
    border-radius: 24px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.desencriptar{
    box-sizing: border-box;
    display: inline;
    position: absolute;
    left: 592px;
    bottom: 72px;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;
    width: 328px;
    height: 67px;
    background: #d8dfe8;
    border: 1px solid #0a3871;
    border-radius: 24px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.recuadro-logo{
    position: absolute;
    width: 400px;
    height: 944px;
    left: 1000px;
    top: 40px;
    background: #FFFFFF;
    border: 2px solid #000000;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08%);
    border-radius: 32px;
}

.recuadro-logo:hover{
    border-color: #088c19;

}

.recuadro-logo li{
    position: absolute;
    width: 336px;
    height: 304px;
    left: 1032px;
    top: 283px;
}

.Mensaje_advertencia{
    width: 336px;
    height: 58px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: #343A40;
    
    
}

